* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #fff;
}

header {
	min-height: 34em;

}

footer {
	min-height: 20em;
	background-color: #222;
	color: white;
}

.footer-inner {
	text-align: center;
	padding-top: 2em;
}

a {
	outline: 0;
}

a:link {
	text-decoration: none;
}

#main-content {
	color: black;
	max-width: 1280px;
	background-color: white;
	margin: 0 auto;
}

.header-title {
	font-size: 3.8em;
	font-weight: 400;
	text-align: center;
	padding: 2em;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', cursive;
}

.header-subtitle {
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	color: #efefef;
	/* text-shadow: 0 2px 4px rgba(30, 40, 53, 0.75); */
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', cursive;
}

.tinted-image {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 10, 60, 0.3), rgba(50, 50, 50, 0.8)), url("../img/plane-shaving-bg.jpg");
    background-origin: padding-box, padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.beer-app {
	background-image:url("../img/beer-app2.jpg");
}

.music-app {
	background-image:url("../img/music-app2.jpg");
}

.boxmapper-app {
	background-image:url("../img/boxmapper-app.jpg");
	/*background-position: center center;*/
	background-position: center;
}

.quiz-app {
	background-image:url("../img/quiz-app.jpg");
	background-position: center;
}

.pinstruments-app {
	background-image:url("../img/pinstruments-app2.jpg");
	/*background-position: center top;*/
	background-position: center top;
}

.bench-app {
	background-image:url("../img/danish-bench1.jpg");
}

.project {
	height: 30em;
	padding: 0 1em;
	border: 4px solid #fff;
	/*transition: background-color 0.5s ease;*/
	/*width: 200px; height: 100px;*/
    /*background-size: 100% 200%;*/
    /*background-image: url(to bottom, transparent 50%, #bcbcbc 50%);*/
    transition: background-color transparent;
    /*background-image: linear-gradient(to bottom, transparent 50%, #bcbcbc 50%);*/
    /*-webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;*/
    -webkit-transition: background-color transparent;
    -moz-transition: background-color transparent;
    transition: background-color transparent;
}

.project:hover {
	/*background-color: black;
	opacity: .1;
	color: black;*/
	/*background-position: 0 -100%;*/
	/*background-image: linear-gradient(to bottom, #ccc 50%, #ccc 50%);*/
}

.project h1 {
	text-align: center;
	font-size: 2em;
	line-height: 1em;
}

.project .project-info {
	visibility: hidden;
}

.project:hover .project-info {
	visibility: visible;
	height: 80%;
	width: 80%;
	padding: .5em;
	margin: 1em auto;
	background-color: black;
	background-position: center center;
	color: white;
	font-size: 1.2em;
	line-height: 1.2em;
	opacity: .8;
}

.project-info > ul {
	padding-left: 1em;
}

.project-info >ul li {
	padding-bottom: 8px;
}

.tags {
	background-color: #fff;
}

.tags ul {
	text-align: center;
	padding: 0px;
	list-style-type: none;
}

.tags li {
	display: inline-block;
	background-color: white;
	border-bottom: 2px solid black;
	margin: 0 5px 5px;
}

.tags li:hover, .tags .active {
	background-color: black;
}

.tags li a {
	padding: .5em .3em;
	display: block;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.2em;
	font-weight: 600;
	color: black;
}

.tags li a:hover, .tags .active a {
	color: white;
}




@media (max-width: 760px) {
  .project h1 {
    font-size: 1.5em;
  }
  .footer-inner {
  	border-bottom: 1px solid #ccc;
  }
}
