* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: white;
}

header {
	min-height: 34em;
}

footer {
	min-height: 20em;
	background-color: #222;
}

footer h3 {
	font-weight: 300;
}

.footer-inner {
	text-align: center;
	padding-top: 2em;
}

.pure-g {
	margin-bottom: 10px;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #ddd;
}

footer .pure-g {
	border-bottom: none;
}

a {
	outline: 0;
	color: black;
}

a:link {
	text-decoration: none;
}

#main-content {
	color: black;
	max-width: 1280px;
	background-color: white;
	margin: 0 auto;
}

.header-title {
	font-size: 3.8em;
	font-weight: 400;
	text-align: center;
	padding: 2em;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', sans-serif;
}

.header-subtitle {
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', sans-serif;
}

.tinted-image {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/robertcwilson-modheader.jpg');
    background-origin: padding-box, padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.beer-app {
	background-image:url('../img/beer-app2.jpg');
}

.music-app {
	background-image:url('../img/music-app2.jpg');
}

.boxmapper-app {
	background-image:url('../img/boxmapper-bg.jpg');
	background-position: center;
}

.quiz-app {
	background-image:url('../img/hockey-quiz.jpg');
	background-position: center;
}

.pinstruments-app {
	background-image:url('../img/pinstruments-app2.jpg');
	background-position: center top;
}

.bench-app {
	background-image:url('../img/danish-bench1.jpg');
}

.project-heading {
	text-align: center;
	font-size: 2.3em;
	margin: 2.2em 0 2em 0;
	border-bottom: 1px solid #ddd;
}

.project {
	height: 30em;
	padding: 0 1em;
	border: 4px solid #fff;
	box-shadow: 2px 2px 2px #ddd;
}

.project-info h1 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1em;
	font-weight: 400;
}

.project .project-info {
	height: 80%;
	width: 80%;
	padding: .5em;
	margin: 1em auto;
	background-color: black;
	background-position: center center;
	color: black;
	font-size: 1.2em;
	line-height: 1.2em;
	opacity: 1;
}

.project-info > ul {
	padding: 0 1em 0 2em;
}

.project-info >ul li {
	padding-bottom: 8px;
}

.project-links {
	text-align: center;
}

.project-links span {
	padding: 0 22px;
	margin: 0 auto;
}

.project-links a:hover {
	border-bottom: 1px solid black;
	margin-bottom: -1px;
	color: green;
	font-weight: 500;
}

@media (max-width: 760px) {
	.pure-g {
		letter-spacing: normal;
	}

	.project h1 {
		font-size: 1.3em;
	}

	.project-links a {
		margin: 12px;
		display: inline-block;
	}

	.footer-inner {
		border-bottom: 1px solid #333;
		padding: 2em 0;
	}

	.project .project-info {
		height: 85%;
		width: 85%;
		font-size: 1.2em;
		line-height: 1.1em;
	}

}
