* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: white;
}

header {
	min-height: 34em;
}

footer {
	min-height: 20em;
	background-color: #222;
}

.footer-inner {
	text-align: center;
	padding-top: 2em;
}

a {
	outline: 0;
	color: white;
}

a:link {
	text-decoration: none;
}

#main-content {
	color: black;
	max-width: 1280px;
	background-color: white;
	margin: 0 auto;
}

.header-title {
	font-size: 3.8em;
	font-weight: 400;
	text-align: center;
	padding: 2em;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', cursive;
}

.header-subtitle {
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', cursive;
}

.tinted-image {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 10, 60, 0.3), rgba(50, 50, 50, 0.8)), url('../img/plane-shaving-bg1.jpg');
    background-origin: padding-box, padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.beer-app {
	background-image:url('../img/beer-app2.jpg');
}

.music-app {
	background-image:url('../img/music-app2.jpg');
}

.boxmapper-app {
	background-image:url('../img/boxmapper-bg.jpg');
	background-position: center;
}

.quiz-app {
	background-image:url('../img/hockey-quiz.jpg');
	background-position: center;
}

.pinstruments-app {
	background-image:url('../img/pinstruments-app2.jpg');
	background-position: center top;
}

.bench-app {
	background-image:url('../img/danish-bench1.jpg');
}

.project {
	height: 30em;
	padding: 0 1em;
	border: 4px solid #fff;
}

.project h1 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1em;
}

.project .project-info {
	height: 80%;
	width: 80%;
	padding: .5em;
	margin: 1em auto;
	background-color: black;
	background-position: center center;
	color: white;
	font-size: 1.2em;
	line-height: 1.2em;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
}

.project:hover .project-info {
	height: 80%;
	width: 80%;
	padding: .5em;
	margin: 1em auto;
	background-color: black;
	background-position: center center;
	color: white;
	font-size: 1.2em;
	line-height: 1.2em;
	opacity: .8;
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
}

.project-info > ul {
	padding-left: 1em;
}

.project-info >ul li {
	padding-bottom: 8px;
}

.tags {
	background-color: #fff;
}

.tags ul {
	text-align: center;
	padding: 0px;
	list-style-type: none;
}

.tags li {
	display: inline-block;
	background-color: white;
	border-bottom: 2px solid black;
	margin: 0 5px 5px;
}

.tags li:hover, .tags .active {
	background-color: black;
}

.tags li a {
	padding: .5em .3em;
	display: block;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.2em;
	font-weight: 600;
	color: black;
}

.tags li a:hover, .tags .active a {
	color: white;
}

.project-links {
	text-align: center;
}

.project-links span {
	padding: 0 50px;
}

@media (max-width: 960px) {
	.project h1 {
		font-size: 1.3em;
	}

	.footer-inner {
		border-bottom: 1px solid #333;
		padding: 2em 0;
	}

	.project:hover .project-info {
		height: 85%;
		width: 85%;
		font-size: 1.2em;
		line-height: 1.1em;
	}
}
