html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  body {
    font-family: 'Kanit', sans-serif;
    background-image: url('img/trianglify-3.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
  }

  .main-wrapper {
      padding: 4rem 0;
  }

  h1 {
    font-weight: 300;
  }

  a {
      text-decoration: none;
      color: #1e88e5;
      position: relative;
  }

  .intro {
    width: 35%;
    float: left;
    position: fixed;
    margin: 3rem;
    font-weight: 200;
    font-size: 1.1rem;
    color: #222;
  }

  .intro h1 .target {
      position: fixed;
      opacity: .7;
      top: 110px;
      left: 35px;
  }

  .intro h3 {
      color: #f5f5f5;
      font-weight: 400;
      font-size: 1.4rem;
  }

  .intro-contact {
      margin: 2rem 0;
      font-size: 1.2rem;
      font-weight: 100;
  }

  .projects {
    width: 55%;
    float: right;
    margin: 3rem 0;
  }

  .card, .paper {
    background-color: #f8f8f8;
    font-size: 1rem;
    font-weight: 200;
    margin: 2rem;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #333;
    position: relative;
  }

  .card {
    max-width: 500px;
  }

  .paper {
      max-width: 650px;
      line-height: 1.2rem;
  }

  .paper .info {
    padding: 3.5rem;
  }

  .card-media img {
    width: 100%;
    top: 0;
    left: 0;
  }

  .card .info {
    padding: 1.5rem;
  }

  .card .info h3, .paper .info h2 {
      color: #1e88e5;
  }

  .card .info ul {
    padding: 0;
  }

  .card .info ul li {
    list-style-type: none;
    padding: .5rem 0;
    line-height: 1.2rem;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: .5s ease;
  }

  .card:hover .overlay {
    height: 100%;
    opacity: .95;
    box-shadow: 0px 8px 12px #555;
  }
  
  .text {
    color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn {
    display: block;
    color: white;
    width: 80px;
    padding: 11px;
    border-radius: 2px;
    background-color: #1e88e5;
    text-decoration: none;
    transition: .2s;
  }

  .btn-lrg {
      width: 180px;
  }

  .btn:hover {
      box-shadow: -2px 2px 2px #795548;
      background-color: #1976D2;
  }

  i:hover {
    color: #1976D2;
}

.overlay .btn:hover {
    box-shadow: -2px 2px 2px #111;
}

  i {
      background-color: none;
      font-size: 3rem;
      transition: .2s;
  }

.btn-link {
      font-size: 1.2rem;
      float: right;
  }

  .project-header {
      float: left;
      padding-left: 2rem;
  }

  .name-header {
      padding-left: 70px;
  }


  /****  HELPER CLASSES  ****/
  .clear {
      clear: both;
      height: 0;
      padding: 0;
      margin: 0;
  }

  .small-pad-top-bot {
      padding: .5rem 0;
  }


@media only screen and (max-width: 850px) {

    .main-wrapper {
        padding: 1rem 2rem;
    }

    .intro, .projects {
        width: 100%;
        text-align: center;
        position: relative;
    }

    .card, .intro, .paper {
        margin: 2rem auto;
    }

    .btn {
        margin: 0 auto;
    }

    .project-header {
        float: none;
        padding-left: 0;
    }

    .name-header {
        padding: 0;
    }

    .intro h1 .target {
        top: 0;
        left: 0;
        position: relative;
        display: block;
        margin: 0 auto;
    }
}