* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: white;
}

header {
	min-height: 33em;
}

footer {
	min-height: 20em;
	background-color: #222;
}

footer h3 {
	font-weight: 300;
}

.footer-inner {
	text-align: center;
	padding-top: 2em;
}

footer .pure-g {
	border-bottom: none;
}

.id-padding {
	padding-bottom: 1px;
}





/* Styles for the sticky navbar */
#navbar {
	overflow: hidden;
	background-color: #333;
	z-index: 99999;
  }
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }






a {
	outline: 0;
	color: black;
}

a:link {
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 8px;
	margin: 5px;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	width: 80px;
}

.btn-site {
	background-color: #1E88E5;
}

.btn-code {
	background-color: #e53935;
}

#main-content {
	color: black;
	max-width: 1280px;
	background-color: white;
	margin: 0 auto;
}

.header-title {
	font-size: 3.8em;
	font-weight: 400;
	text-align: center;
	padding: 2em;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', sans-serif;
}

.header-subtitle {
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(290, 310, 233, 0.65);
	font-family: 'Nothing You Could Do', sans-serif;
}

.tinted-image {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/robertcwilson-modheaderv2.jpg');
    background-origin: padding-box, padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: left top;
}

.app-image {
	background-repeat: no-repeat;
	background-position: center;
}

.beer-app {
	background-image:url('../img/beer-app2.gif');
}

.story-app {
	background-image: url('../img/really-small-stories.gif');
}

.music-app {
	background-image:url('../img/music-app2.jpg');
}

.boxmapper-app {
	background-image:url('../img/boxmapper-bg.jpg');
	background-position: center;
}

.quiz-app {
	background-image:url('../img/hockey-quiz.gif');
	background-position: center;
}

.pinstruments-app {
	background-image:url('../img/pinstruments-app2.gif');
	background-position: center;
}

.bench-app {
	background-image:url('../img/danish-bench1.gif');
}

.bench-subheading {
	color: #888;
	text-align: center;
	font-size: 14px;
}

.bio-container, .project-container {
	position: relative;
}

.project-container {
	padding: 20px;
	margin: 5em auto;
}

.bio-heading {
	text-align: center;
	font-size: 2.3em;
	margin: 2.2em 0 2em 0;
	border-bottom: 1px solid #ddd;
	color: #1E88E5;
}

.bio-info {
	width: 80%;
	padding: .5em;
	margin: 1em auto;
	color: black;
	font-size: 1.2em;
	line-height: 1.2em;
	text-align: center;
}

.project-heading {
	text-align: center;
	font-size: 2.3em;
	margin: 2.2em 0 2em 0;
	border-bottom: 1px solid #ddd;
	color: #e53935;
}

.project {
	height: 30em;
	padding: 0 1em;
	border: 4px solid #fff;
	box-shadow: 2px 2px 2px #ddd;
}

.project-info h1 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1em;
	font-weight: 400;
}

.project-info {
	width: 60%;
	padding: .5em;
	margin: 1em auto;
	color: black;
	font-size: 1.2em;
	line-height: 1.2em;
}



.project-info >ul li {
	padding-bottom: 8px;
}

.project-links {
	text-align: center;
	padding: 0 22px;
	margin: 0 auto;
}

.project-links a:hover {
	border-bottom: 1px solid black;
	margin-bottom: -1px;
	color: white;
	font-weight: 500;
}

@media (min-width: 1400px) {
	header {
		min-height: 39em;
	}
}

@media (max-width: 1024px) {
	header {
		min-height: 22em;
	}
}

@media (max-width: 760px) {

	header {
		min-height: 16em;
	}

	.project h1 {
		font-size: 1.3em;
	}

	.project-info {
		width: 80%;
	}

	.project-links a {
		margin: 12px;
		display: inline-block;
	}

	.footer-inner {
		border-bottom: 1px solid #333;
		padding: 2em 0;
	}

	.project .project-info {
		height: 85%;
		width: 85%;
		font-size: 1.2em;
		line-height: 1.1em;
	}

}

@media (max-width: 480px) {
	header {
		min-height: 12em;
	}

	.project-info {
		width: 80%;
	}

}
